# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/target/
/bin/main/
/bin/test/

# Gradle
.gradle
build/
!gradle-wrapper.jar
